

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee-House</title>
</head>
<body>
        <form method="post" action="/paypal/pay" >
            <input type="submit" value="click">
        </form>
        
    <h1></h1>
</body>
</html>